:root {
    --cardColor: #eeef;
    --textColor: #212121;
    --bg: url('./assets/backbg.png');
    /* Sublinhado cores */
    --sub1: #ffc9c9;
    --sub2:#9086ca;
    --sub3:#38c061;
    --sub4:#c9c61a;


}

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@font-face {
    font-family: 'Brittany';
    src: url('./BrittanySignature.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
* {
    box-sizing: border-box;
 }

html, body {
    height: 100%; 
    margin: 0; 
    padding: 0;
    overflow-x: hidden
}

body {
    background-image: var(--bg);
    background-repeat: no-repeat; 
    background-position: center; 
    background-size: auto; 
    min-height: 100vh;
}

.container {
    max-width: 800px; /* Torna responsivo */
    width: 100%; /* Ajusta ao tamanho da tela */
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.logo {
    margin-top: 50px;
    z-index: -1;
}

.title {
    text-align: center;
    position: relative;
}

.title h1 {
    font-size: 6rem;
   
}

.title .month {
    position: absolute;  
    top: 250px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 4rem;
    color: #fff;
    z-index: 1000;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 600;
}

.card {
    background-color: var(--cardColor);
    width: 500px; /* Torna responsivo */
    position: relative;
    padding: 10px 25px;
    border-radius: 10px;
}

.cards-collection {

    display: flex;
    gap: 30px;
    flex-wrap: wrap; /* Garante que os itens não ultrapassem a tela */
    justify-content: center;
    margin-top: 100px;
}

.date {
    border: 1px solid #000;
    width: 150px;
    border-radius: 20px;
    margin-inline: auto;
    line-height: 0;

    text-align: center;
}

.day-number {
    font-weight: bold;
    font-size: 45px;
}

.day-name {
    font-size: 18px;
}

.info {
    font-family: "Poppins", sans-serif;
}

.event-info {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 30px;
    font-size: 24px;
    margin-top: 35px;
    

 
}

.contato {
    margin-top: 50px;
}

.contato-p {
    font-size: 24px;
    color: #fff;
    font-family: "Poppins", sans-serif;
    line-break:auto;
    text-align: center;
    width: 70%;
    margin-inline: auto;
}

.profile {
    font-size: 24px;
    width: 100%;
    color: #fff;
    font-family: "Poppins", sans-serif;
    display: flex;
    justify-content: center;
    margin-inline: auto;

}

.profile img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
}

.info-profile {
    display: flex;
    gap: 20px;
    justify-content: center;
    margin-inline: auto;
}

.phone h2 {
    font-size: 30px;
}

.hour {
    display: flex;
    flex: 1;
    gap: 8px;
}

.event {
    background-color: var(--sub3);
    flex: 1.5;
    padding: 15px 10px;
    border-radius: 6px;
    display: flex;
    text-align: center;
    gap: 6px;
    align-items: center;
    justify-content: center;
  }
  
.ev2{
    background-color: var(--sub2);
} 

.ev3 {
    background-color: var(--sub4);
}

.ev4 {
    background-color: var(--sub1);
}
  
.local {
    font-size: 24px;
    display: flex;
    gap: 8px;
    position: absolute;
    bottom: 10px;
    max-width: 90%;
    margin-inline: auto;
   
}

.grupo {
    line-height: 1;
    margin-top: 50px;
    text-align: center;
}

.title-whats {
    font-family: "Brittany", sans-serif;
    font-size: 60px;
    font-weight: 600;
    text-align: center;
    color: #fff;
}

.call {
    font-size: 24px;
    color: #fff;
    font-family: "Poppins", sans-serif;
    margin-top: 20px;
    line-break: auto;
    
}

footer {
 width: 100%;
 height: 70px;
display: flex;
justify-content: center;
margin-top: 150px;

}

.btn-grupo {
    border: none;
    background-color: green;
    font-size: 40px;
    margin-top: 50px;
    color: #fff;
    display: flex;
    gap: 8px;
    padding: 20px 20px;
    border-radius: 15px;
    cursor: pointer;
    text-align: center;
}

.btn-grupo a {
    text-decoration: none;
    color: #fff;
}



.title-contato {
    margin-top: 40px;
    font-size: 60px;
    font-family: "Brittany", sans-serif;
    font-weight: 600;
    display: block;
    color: #fff;
    text-align: center;
}


.off {
    height: 280px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
  
}

@media screen and (min-width:1200px){

    .container {
        max-width: 1100px;
    }
    .cards-collection {
        width: 90%;
        display: flex;
        gap: 30px;
        flex-wrap: wrap; /* Garante que os itens não ultrapassem a tela */
        justify-content: space-around;
        margin-top: 100px;
    }

    .card {
        width: 400px;
        height:400px;
        padding-top:10px;
    }
}
@media screen and (max-width: 1199px){
    .card {
        height: 400px;
    }
} 


/* Media Query para telas menores */
@media screen and (max-width: 800px) {
    body {
        background-size: auto;
    }

    .title img{
        width: 90%;
    }

    .title .month {
        font-size: 3rem; /* Ajusta o texto do mês */
       top: 180px;


    }
    .card {
        width: 400px;
        height: 400px;
    }

    .title-whats {
        font-size: 45px;
    }

    .btn-grupo {
        margin-left: 15px;
    }
}

@media screen and (max-width: 600px) {
    .title .month {
        font-size: 3rem; /* Ajusta o texto do mês */
       top: 140px;


    }
}

@media screen and (max-width: 450px) {

    
.title img{
    width: 90%;
}
    .title h1 {
        font-size: 4rem; /* Reduz o tamanho do título */
    }
    .month {
        font-size: 50px; /* Ajusta o texto do mês */
       top: 110px;
    }
    .card {
           width: 85%;
           height: 450px;
    }
    .logo {
       margin-inline: auto;
       max-width: 500px;
       display: flex;
       justify-content: center;
    }

   

    .logo img {
        width: 200px;
    
    }

    .profile p{
        font-size: 16px;
    }

    .title-whats {
        font-size: 45px;
    }
    .btn-grupo {
        margin-left: 10px;
        font-size: 30px;
        margin-inline: auto;
    }
}

@media screen and (max-width: 375px) {
    .card {
        width: 90%; /* Reduz largura das cards */
        word-wrap: break-word;
    }
    .event {
        font-size: 18px;
    }
     
    .month {
        top: 200px;
    }

}
