:root {
    --cardColor: #eeef;
    --textColor: #212121;
    --bg: url('./assets/backbg.png');
}

html, body {
    height: 100%; 
    margin: 0; 
    padding: 0;
}

body {
    background-image: var(--bg);
    background-repeat: no-repeat; 
    background-position: center; 
    background-size: cover; 
    min-height: 100vh;
}

.container {
    max-width: 800px; /* Torna responsivo */
    width: 100%; /* Ajusta ao tamanho da tela */
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.logo {
    margin-top: 50px;
}

.title {
    text-align: center;
    position: relative;
}

.title h1 {
    font-size: 6rem;
}

.title .month {
    position: absolute;  
    top: 230px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 4rem;
    color: #fff;
}

.card {
    background-color: var(--cardColor);
    max-width: 500px; /* Torna responsivo */
    width: 100%; /* Adapta a largura */
    padding: 20px;
}

.cards-collection {
    display: flex;
    gap: 30px;
    flex-wrap: wrap; /* Garante que os itens não ultrapassem a tela */
    justify-content: center;
}

.date {
    display: flex;
    gap: 15px;
    font-size: 25px;
}

/* Media Query para telas menores */
@media screen and (max-width: 800px) {
    body {
        background-size: auto;
    }
}

@media screen and (max-width: 450px) {
    .title h1 {
        font-size: 4rem; /* Reduz o tamanho do título */
    }
    .title .month {
        font-size: 2.5rem; /* Ajusta o texto do mês */
    }
    .card {
        max-width: 400px; /* Reduz largura das cards */
    }
}
